.container {
  padding: 25px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

th {
width: 200px;
}

table td.actions {
  text-align: center;
}

table td.actions mat-icon {
  cursor: pointer;
}

table th.width-30 {
  width: 80px;
}


/* table th.width-200 {
      width: 200px;
    } */
